extends /_templates/layout.pug
include ../_templates/mixins.pug

block content


    if self.data.articles
        main.grid_articles
            each val in self.data.articles.sort(function(a, b){ return (a.articlePublishStart > b.articlePublishStart) ? -1 : ((b.articlePublishStart > a.articlePublishStart) ? 1 : 0); })
                - var article_slug = val.path
                - var article_pictures = self.data.article_pictures.articles[article_slug]
                a.card_article(href= '/' + article_slug)
                    .container_frame_16_9
                        if article_pictures
                            img.container_contents_16_9(src='/assets/img/img_articles/'+article_slug+'/'+article_pictures.heroImage)
                        else
                            img.container_contents_16_9(src='/assets/img/global/placeholder_hd_1.jpg')

                    //- .container_frame_16_9
                    //-     img.container_contents_16_9(src='/assets/img/img_articles/'+val.path+'/'+self.data.article_pictures.articles[val.path].heroImage alt='Img alt text')


                    .card_article_title
                        p.keywords_left=val.tagKeyword
                        h3.article_title_locale=val.articleTitle_et
                    .card_article_lead
                        if val.articleLead_et
                            .article_lead=val.articleLead_et
                        else
                            .article_lead=val.articleContents_et
                    .card_article_footer
                        .article_author=val.articleAuthor
                        span &nbsp;&nbsp;
                        .article_publish_start
                            +localdatetime(val.articlePublishStart)



