mixin youtube(videoId)
    iframe(width='560' height='315' src=`https://www.youtube.com/embed/${videoId}`
        frameborder='0' allow='accelerometer' autoplay;='' encrypted-media;=''
        gyroscope;='' picture-in-picture”='' allowfullscreen='')

mixin localdatetime(dateString)
    - var dom_id = Math.random()
    div(id = 'dt_' + dom_id)

    script.
        (function()
        {
            var eDisplayMoment1 = document.getElementById('dt_' + '#{dom_id}');
            var NowMoment1 = moment('#{dateString}').format('L HH:mm');
            eDisplayMoment1.innerHTML = NowMoment1;

            var eDisplayMoment1 = document.getElementById('dt_' + '#{dom_id}');

            //- //- Allpool vajalik erinevate riikide tarbeks !!!!!!!!! ÄRA KUSTUTA !!!!!!!!!
            //- var NowMoment1 = moment.utc('#{dateString}').toDate();
            //- console.log(`Local time of publishing: ${NowMoment1}`);
            //- var UTCTime = moment.utc(NowMoment1).format();
            //- console.log(`UTC: ${UTCTime}`);
            //- var localday = moment(NowMoment1).locale("et").format("dddd");
            //- console.log(`Estonian day in word: ${localday}`);
            //- var localday2 = moment(NowMoment1).locale("ru").format("dddd");
            //- console.log(`Russain day in word: ${localday2}`);

            //- eDisplayMoment1.innerHTML = local;
        })();
