mixin youtube(videoId)
    iframe(width='560' height='315' src=`https://www.youtube.com/embed/${videoId}`
        frameborder='0' allow='accelerometer' autoplay;='' encrypted-media;=''
        gyroscope;='' picture-in-picture”='' allowfullscreen='')

mixin localdatetime(dateString)
    - var dom_id = Math.random()
    div(id = 'dt_' + dom_id)

    script.
        (function()
        {
            var eDisplayMoment1 = document.getElementById('dt_' + '#{dom_id}');
            var NowMoment1 = moment('#{dateString}').format('L HH:mm');
            eDisplayMoment1.innerHTML = NowMoment1;


            //- Allpool vajalik erinevate riikide tarbeks

            //- var eDisplayMoment1 = document.getElementById('dt_' + '#{dom_id}');

            //- var NowMoment1 = moment.utc('#{dateString}').toDate();
            //- console.log(NowMoment1);
            //- var UTCTime = moment.utc(NowMoment1).format();
            //- console.log(UTCTime);
            //- var local = moment(NowMoment1).local("et").format("dddd");
            //- console.log(local);
            //- console.log(moment("01-06-2018", 'MM-DD-YYYY').locale("en").format("dddd"));
            //- eDisplayMoment1.innerHTML = local;

            //- var res = moment("01-06-2018", 'MM-DD-YYYY').locale("ru").format("dddd");
            //- console.log(res);
            //- script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment-with-locales.min.js')


        })();
