mixin youtube(videoId)
    iframe(width='560' height='315' src=`https://www.youtube.com/embed/${videoId}`
        frameborder='0' allow='accelerometer' autoplay;='' encrypted-media;=''
        gyroscope;='' picture-in-picture”='' allowfullscreen='')

mixin localdatetime(dateString)
    - var dom_id = Math.random()
    div(id = 'dt_' + dom_id)

    script.
        (function()
        {
            moment.locale('#{self.locale}');
            var eDisplayMoment1 = document.getElementById('dt_' + '#{dom_id}');
            var NowMoment1 = moment('#{dateString}').format('L LT');
            var weekDay= moment('#{dateString}').format('ddd');
            eDisplayMoment1.innerHTML = weekDay + ' ' +  NowMoment1;

        })();

mixin screeningDate(dateString)
    - var dom_id = Math.random()
    span(id = 'dt_' + dom_id)

    script.
        (function()
        {
            moment.locale('#{self.locale}');
            var eDisplayMoment1 = document.getElementById('dt_' + '#{dom_id}').parentElement;
            var NowMoment1 = moment('#{dateString}').format('Do MMM');
            var weekDay= moment('#{dateString}').format('dddd');
            eDisplayMoment1.innerHTML = NowMoment1 + ', ' + weekDay;

        })();

mixin screeningTime(dateString)
    - var dom_id = Math.random()
    span(id = 'dt_' + dom_id)

    script.
        (function()
        {
            moment.locale('#{self.locale}');
            var eDisplayMoment1 = document.getElementById('dt_' + '#{dom_id}').parentElement;
            var NowMoment1 = moment('#{dateString}').format('LT');
            eDisplayMoment1.innerHTML = NowMoment1;

        })();

mixin calendarDate(dateString)
    - var dom_id = Math.random()
    span(id = 'dt_' + dom_id)

    script.
        (function()
        {
            moment.locale('#{self.locale}');
            var eDisplayMoment1 = document.getElementById('dt_' + '#{dom_id}').parentElement;
            var NowMoment1 = moment('#{dateString}').format('dddd, D MMMM');
            eDisplayMoment1.innerHTML = NowMoment1;

        })();

mixin tabname(currenttitle)
    script.
        document.title= '#{currenttitle}';
        //document.title= 'Tartuff 2020: ' + ('#{currenttitle}');

mixin format(text)
    - var text2 = self.md(text)
    | !{ text2}
