extends /_templates/layout.pug

block content


    //- if self.films
    //-     main.grid_filmid
    //-         each val in self.films
    //-             section.card_film
    //-                 .container_frame_16_9
    //-                     img.container_contents_16_9(src='https://inscaping.eu/img/F_2_Malpaso.jpg' alt='Malpaso / Second slide')
    //-                 .card_film_title
    //-                     h3.film_title_locale= val.filmTitleEt
    //-                 if val.filmTitleEn
    //-                     .str_info_grid_3
    //-                         .str_info_label= self.label.film.filmTitle_en
    //-                         .str_info_value= val.filmTitleEn
    //-                 if val.filmDirector
    //-                     .str_info_grid_3
    //-                         .str_info_label= self.label.film.filmDirector
    //-                         .str_info_value= val.filmDirector
    //-                 if val.filmCast
    //-                     .str_info_grid_3
    //-                         .str_info_label= self.label.film.filmCast
    //-                         .str_info_value= val.filmCast


    if self.films
        main.grid_filmid
            each val in self.films
                a(href= val.filmEventivalId).card_film
                    section
                        .container_frame_16_9
                            img.container_contents_16_9(src='assets/img/pildid_proc/'+val.filmSlug+'/'+self.data.pictures.filmslugs[val.filmSlug].poster alt='Malpaso / Second slide')
                        .card_film_title
                            h3.film_title_locale= val.filmTitle_et
                        .card_film_info
                            if val.filmTitle_en
                                .str_info_grid_3
                                    .str_info_label= self.label.film.filmTitle_en
                                    .str_info_value= val.filmTitle_en
                            if val.filmDirector
                                .str_info_grid_3
                                    .str_info_label= self.label.film.filmDirector
                                    .str_info_value= val.filmDirector
                            if val.filmCast
                                .str_info_grid_3
                                    .str_info_label= self.label.film.filmCast
                                    .str_info_value= val.filmCast


