extends /_templates/layout.pug

block content
    - localtitle = "filmTitle" + self.locale
    p= localtitle
    section.f_title_box
        .premiere_type= self.label.film.filmPremiereType
        h1.film_title_detailed= self[localtitle]
        .str_info_blokk_1
            .str_info_grid_3
                .str_info_label= self.label.film.filmLocalTitle
                .str_info_value= self.filmLocalTitle
            .str_info_grid_3
                .str_info_label= self.label.film.filmDirector
                .str_info_value.clr_primary= self.filmDirector
            .str_info_grid_3
                .str_info_label= self.label.film.filmCountries
                .str_info_value= self.filmCountries
            .str_info_grid_3
                .str_info_label= self.label.film.filmYear
                .str_info_value= self.filmYear
