//- extends /_templates/layout.pug
extends /_templates/layout.pug
include /_templates/mixins.pug



block content

    - my_path = self.path.split("/")[self.path.split("/").length-1]

    - articlePics = self.data.article_pictures.articles
    - articlePic = articlePics[my_path]

    main.grid_article
        section.article_hero_head
            if articlePic
                img(src=`/assets/img/img_articles/${my_path}/${articlePic.heroImage}`).article_hero_image
            else
                img(src='/assets/img/global/placeholder_hd_1.jpg').article_hero_image
        .article_hero_headline_box
            .article_title_detailed= self.articleTitle_et

    section.grid_article
        section.article_meta
            .str_info_meta_gi
                .str_info_meta_item
                    .str_info_meta_value= self.articleType
                .str_info_meta_item
                    .str_info_meta_value= self.articleAuthor
                .str_info_meta_item
                    //- .str_info_meta_value= self.kuupäev + '  ' + self.kell
                    .str_info_meta_value
                        +localdatetime(self.articlePublishStart)
                .str_info_meta_item
                    .str_info_meta_keywords= self.tagKeyword


        section.article_contents
            p.font_weight_600= self.articleLead_et
            //- p= self.articleContents_et
            - articleContents = self[`articleContents_${self.locale}`]
            | !{ self.md(articleContents)}

        section.article_extra






